#anim_container {
  width 1000px
  height 1000px
  z-index 20}

.loadScreen 
  position absolute
  top 0
  width 100%
  height 100%
  background-color #fff
  display flex
  flex-direction column
  justify-content center
  align-items center
  transition 0.55s opacity ease-out
  z-index 100

h1,h2, .loadScrollGif
  color #fff
  z-index 2 
  font-family Amagro Bold
  text-transform uppercase
  text-align center

h1
  font-size 3em
  letter-spacing 0.5em

video
    z-index 100
    border 1px solid red

h2
  font-family Andika New Basic Regular

.load
  margin 0 0 30px 0
  padding 0
  color #fff
  user-select none
  z-index: 2

.progressBar
  top 100%
  width 100%
  height 100%
  background-color #0d0e0b
  position absolute
  // animation liquid 8s infinite
  z-index: 1
  transition:top 1s ease-in-out;

@keyframes liquid 
  0% {
    top 100%
  } 
  100% {
    top 0
  } 


// .progress
//   border-radius 8px
//   width 0px
//   height 7px
//   background-color #fff




