@font-face
  src url('@fonts/Amagro-bold.woff2')
  font-family Amagro Bold

@font-face
  src url('@fonts/AndikaNewBasic-Regular.woff2')
  font-family Andika New Basic Regular

@font-face
   src url('@fonts/AndikaNewBasic-Regular.woff2')
   font-family Andika

@font-face
   src url('@fonts/Cirka-Bold.woff2')
   font-family CirkaBold

@font-face
   src url('@fonts/Cirka-Light.woff2')
   font-family CirkaLight

@font-face
   src url('@fonts/Amagro-bold.woff2')
   font-family Amagro

@import './common.styl'
@import './loading.styl'

.dg.ac {
  z-index 100!important
  }

.chapters{
  font-size 26px
  color white
  position absolute
  bottom 100px
  right 100px
  z-index 10
  width 400px
  height 100px
  display flex
  align-items center
  justify-content center
  letter-spacing: 4px
}

h2{
  font-family CirkaLight
  font-size 32px
  text-transform uppercase
  font-weight: 100;
}

.title{
  font-family CirkaBold
}