@font-face
  src url('@fonts/Amagro-bold.woff2')
  font-family Amagro Bold

@font-face
  src url('@fonts/AndikaNewBasic-Regular.woff2')
  font-family Andika New Basic Regular

@import './common.styl'
@import './loading.styl'

.dg.ac {
  z-index 100!important
  }

  button{
    background red
    position absolute
    z-index: 1100
    bottom 200px
    left 150px
  }